@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root{
    --color1: #20ADD0;
    --color2: #60DCE0;
    --color3: #E0F2E9;
    --color4: #FFEED5;
    --color5: #D0E2D0
    
}

*{
    padding: 0; margin: 0; box-sizing: border-box; 
    font-family: 'Josefin Sans', sans-serif;

}

html{scroll-behavior: smooth; overflow-x: hidden;}


body{
    width: 100%;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

#navBar #fullNav{
    width: 100%;
    background: #FFFFFF;
    text-align: center;
}
#navBar #fullNav{
    text-align: center;
    margin: 0 auto;
}
#fullNav li{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    position: relative;
}
#fullNav a{
    cursor: pointer;
  text-decoration: none;
  border-bottom: 0;
  position: relative;
  display: inline-block;
  transform: translate3d(0, 0, 0);
  transition: transform 1s, color 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
#fullNav a::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 100%;
    width: 100%;
    height: 1px;
    transform: scale3d(0, 1, 1);
    transform-origin: 100% 50%;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    background: black;
  }
#fullNav a:hover {
    opacity: 1;
    transform: translate3d(0, 0, 0);
} 
#fullNav a:hover::before {
    transform: scale3d(1, 1, 1);
    transform-origin: 0% 50%;
    transition-timing-function: ease-out;
}

#fullNav .dropdown{
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: 0.2s;
    background: #FFFFFF;
    margin: 0 0 0 0;
    z-index: 5;
}

#fullNav .dropdown li{
    display: block;
    width: 100%;
    text-align: left;
}
#fullNav .dropdown a{
    font-size: .8em;
}
#fullNav a:hover ~ .dropdown{
    height: auto;
    transition: 0.2s;
    overflow: auto;
}
#fullNav .dropdown:hover{
    height: auto;
    overflow: auto;
}



#mobileNav{
    position: relative;
    width: 100%;
    background: #333333;
    color: #FFFFFF;
    font-weight: 200;
    padding: 10px;
    font-size: 15px;
    max-height: 48px;
    transition: 0.2s;
    z-index: 11;
    overflow-y: hidden;
}
#mobileMenu::after{
    content: "+";
    float: right;
}
#mobileNav li{
    list-style: none;
    padding: 15px;
}
#mobileNav > ul{
    margin-left: 10px;
}

#mobileNav .dropdown{
    max-height: 0px;
    overflow-y: hidden;
}
#mobileNav .dropdown:active{
    max-height: 100vh;
}

#mobileNav #navServices .dropdown{
    max-height: 0px;
    overflow-y: hidden;
    transition: 0.2s;
    border-left: 3px solid #AAAAAA;
}
#mobileNav #navServices:focus ~ .dropdown{
    max-height: 100vh;
}





.section{
    display: flex;
    flex-direction: row;
}
#titlepage{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightblue;
    height: 70vh;
    background-image: url("Photos/flag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    color: #111111;
    
}

#titlepage h1{
    font-size: 9em;
    font-weight: 300;
}
#titlepage h3{
    font-size: 2em;
    font-weight: 300;
    color: #FFFFFF;
}
.qBlock{
    width: 25%;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hBlock{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    overflow-x: hidden;
}
#services{
    height: 50vh;
}
#services .qBlock:nth-child(3){
    background: var(--color1);
    background-image: url("Photos/couple1.jpeg");
    background-size: auto 150%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
    transition-timing-function: ease;
    text-shadow: 0 0 15px #000000, 0 0 4px #000000;
    color: #FFFFFF;
}
#services .qBlock:nth-child(3):hover{
    background-position-x: -40px;
}
#services .qBlock:nth-child(2){
    background: var(--color2);
}
#services .qBlock:nth-child(1){
    background: var(--color3);
    background-image: url("Photos/couple2_50.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
    transition-timing-function: ease;
    text-shadow: 0 0 15px #000000, 0 0 5px #000000;
    color: #FFFFFF;
}
#services .qBlock:nth-child(1):hover{
    background-size: auto 110%;
    background-position-x: -100px;
}
#services .qBlock:nth-child(4){
    background: var(--color4);
}
#services .qBlock:nth-child(5){
    background: var(--color3);
    background-image: url("Photos/heart.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
    transition-timing-function: ease;
    text-shadow: 0 0 15px #000000, 0 0 5px #000000;
    color: #FFFFFF;
}
#services .qBlock:nth-child(5):hover{
    background-size: auto 110%;
    background-position-x: -200px;
    background-position-y: 0px;
}
#services .qBlock:nth-child(6){
    background: #f3d3f5;
}
.blockCount{
    text-align: center;
    font-size: 3em;
    padding: 10px;
    font-weight: 400;
}
.blockTitle{
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}
.blockBody{
    font-size: 1em;
    padding: 20px 60px 0 60px;
    font-weight: 300;
    max-height: 70%;
    overflow-y: auto;
}
.blockReadMore{
    position: absolute;
    bottom: 0;
    text-decoration: underline;
    margin: 0 0 5px 0;
}
#aboutMe{
    height: 50vh;
    display: flex;
    flex-direction: row;
}
.aboutDetails{
    width: 50%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.aboutDetails .qBlock{
    width: 50%;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#aboutMe .hBlock{
    background: var(--color4);
}
#aboutMe .qBlock:nth-child(1){
    background: #c6c6c8;
    background-image: url("Photos/Tynya_Patton.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;

}
#aboutMe .qBlock:nth-child(2) {
    background: var(--color5);
}
#testimonialSection{
    position: relative;
    height: 50vh;
    width: 400%;
    background: var(--color3);
}

.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    animation-name: carousel;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
    background: var(--color3);
}

@keyframes carousel {
    0%  {transform: translateX(0em);}
    24% {transform: translateX(0em);}
    25% {transform: translateX(-100%);}
    49% {transform: translateX(-100%);}
    50% {transform: translateX(-200%);}
    74% {transform: translateX(-200%);}
    75% {transform: translateX(-300%);}
    99% {transform: translateX(-300%);}
    99.0001%{transform: translateX(100%);}
    100% {transform: translateX(0%);}
  }

.testimonialBody{
    font-size: 1.5em;
    font-weight: 400;
    width: 50%;
    padding: 0 0 20px 0;
}
.testimonialBody::before{
    content: '" ';
}
.testimonialBody::after{
    content: ' "';
}
.testimonialSource{
    font-size: 1.5em;
    font-weight: 300;
}
.testimonialSource::before{
    content:'- ';
}
#footerWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
    padding: 20px 0;
}
#footer{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#footerAlign{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: top;
}
#footer .details{
    display: flex;
    flex-direction: column;
    
}
#footer .details .info{
}
#footer .details .links{
    display: flex;
    flex-direction: column;
}
#footer .details .links a{
    text-decoration: underline;
    padding: 3px 0;
}
#contactForm{
    display: flex;
    flex-direction: column;
    background: #EEEEEE;
    padding: 20px;
    width: 50%;
}
#contactForm input{
    outline: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #333333;
    font-size: 1.2em;
    margin: 15px 0 0 0;
    padding: 5px;
}
#contactForm textarea{
    margin: 15px 0 0 0;
    height: 10em;
    outline: none;
    border: none;
    border-bottom: 1px solid #333333;
    padding: 5px;
    resize: none;
}
#contactForm textarea:focus{
    border: 1px solid #333333;
    
}
#contactForm button{
    background: transparent;
    padding: 5px;
    border: 1px solid #333333;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 300;
    margin: 15px 0 0 0;
    width: auto;
}
#contactForm button:hover{
    background: var(--color2);
}
#contactForm button:active{
    background: var(--color1);
}
#footer{
    background: #FFFFFF;
}



/*Article styling*/


.articleWrapper{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    width: 100%;
    background: #ffffff;
    border-top: 1px solid var(--color1);
    border-bottom: 1px solid var(--color1);
}
.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background: #ffffff;
    padding: 20px;
    transition: 0.2s;
}
.articleTitle{
    width: 100%;
    text-align: left;
    color: var(--color1);
}
.articleTitle h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.articleBody{
    width: 100%;
    margin: 10px 0 0 0;
}

.articleBody p{
    font-size: 1.4em;
    line-height: 1.5em;
}

.articleCover{
    position: relative;
    width: 100%;
    height: 250px;
    background: #333333;
    background-image: url("Photos/heart2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.articleCover h1{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 20px;
    font-weight: 400;
}
.articleBody ul{
    width: 100%;
}
.articleBody li{
    list-style: circle;
    margin: 15px 0 0 2em;
    text-align: left;
    font-size: 1.2em;
    
}

.articleBody a{
    color: var(--color1);
    cursor: pointer;
}
.articleBody a:hover{
    color: #333333;
}
#resourceLinksWrapper{
    width: 20%;
    border: 1px solid #333333;
    
}
.resourceLinks{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    list-style: none;
    margin: 15px;
}
.resourceLinks a:hover{
    background: var(--color2);
}
.resourceLinks a:first-child{
    margin-top: 0;
}
.resourceLinks a:last-child{
    margin-bottom: 0;
}
.resourceLinks a{
    padding: 20px 10px 20px 10px;
    background: #aeebfc;
    margin: 10px 0;
    font-size: 20px;
    border-left: 10px solid var(--color1);
    border-right: 4px solid #333333;
}
.articleWrapper img{
    width: 100%;
}

@media screen and (max-width: 1180px) {
    .blockTitle{
        font-size: 25px;
    }
    .blockBody{
        font-size: 15px;
    }
    .blockCount{
        font-size: 35px;
    }
    #footer{
        width: 80%;
    }
    #titlepage h1{
        font-size: 8em;
    }
    #services .qBlock:nth-child(1){
    }
    
}

@media screen and (max-width: 950px){
    #services .qBlock:nth-child(1){
    }
    #services .qBlock:nth-child(1):hover{
        background-position-x: -40px;
    }
    .blockBody{
        padding: 18px;
        width: 100%;
    }
    .article{
        width: 80%;
    }
    .articleWrapper{
        flex-direction: column;
    }
    #resourceLinksWrapper{
        width: 100%;
    }
    .resourceLinks{
        width: 95%;
    }
    #resourcePhoto{
        display: none;
    }
}
@media screen and (max-width: 800px){
    #titlepage h1{
        font-size: 6em;
    }
    #footer{
        width: 100%;
    }
    .article {
        width: 100%;
    }
}
@media screen and (max-width: 700px){
    
    #titlepage h1{
        font-size: 55px;
    }
    #titlepage{
        background-size: auto 200%;
        background-position: center;
    }
    #services{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    #services .qBlock{
        width: 100%;
        height: 30vh;
    }
    #services .qBlock:nth-child(1){
        background-size: 100%;
    }
    #services .qBlock:nth-child(3){
        background-size: 100%;
    }
    #services .qBlock:nth-child(5){
        background-size: 100%;
    }
    #services .qBlock:nth-child(1):hover,
    #services .qBlock:nth-child(3):hover,
    #services .qBlock:nth-child(5):hover{
        background-size: 100%;
        background-position-x: 0px;
        background-position-y: 0px;
    }
    #aboutMe {
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 0;
        height: auto;
    }
    #aboutMe p{
        font-size: 15px;
    }
    #aboutMe .blockTitle{
        font-size: 20px;
    }
    #aboutMe .hBlock{
        width: 100%;
        height: 30vh;
    }
    #aboutMe .qBlock{
        width: 49%;
        height: 30vh;
        display: inline-block;
        margin: 0;
        border: 0;
    }
    .aboutDetails{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .aboutDetails .qBlock {
        width: 50% !important;
    }
    .aboutDetails .blockReadMore{
        text-align: center;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .testimonialBody{
        font-size: 20px;
    }
    #contactForm{
        width: 50%;
    }
    #contactForm input{
        width: 100%;
    }
    #footer .details{
        width: 50%;
    }
    #footer{
        padding: 20px;
    }
}
@media screen and (max-width: 500px){    
}